*.o
*.obj

server
*.exe      

*.log
*.tmp
*.swp
*~

/build/
/bin/
/Debug/
/Release/

*.dSYM/    
*.d     

*.bak

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

__pycache__/
*.pyc
