*.o
*.obj

server
*.exe      

*.log
*.tmp
*.swp
*~

/bin/
/Debug/
/Release/

*.dSYM/

*.bak

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Build artifacts
/ember
/build/

__pycache__/
*.pyc
